.list-group.panel > .list-group-item {

    background-color: #222;
    color: white;

    border: none;
}

.list-group.panel > .collapse > .list-group-item,
.list-group.panel > .collapsing > .list-group-item {

    background-color: #363636;
    color: white;

    border: none;
}

.sidebar-wrapper {

    padding: 0;
    border: none;
    height: 100%;
    background-color: #363636;
}

.list-group-item > .glyphicon {

    margin-right: 5px;
}
