{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "loose": false,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
