
.feed-items {
  display: flex;
  background-color: #8a8a8a;
  min-height: 100%;

  &__sidebar {
    background-color: #4285f4;
    width: 350px;
  }

  &__feed-row {

  }

  &__item-list {
    background-color: bisque;
    width: 100%;
    margin: 0 .7rem;
  }

  &__item-row {
    display: flex;
  }
}



