
<aside class="list-group panel sidebar-wrapper col-sm-3">

    <a href="#demo3"
       class="list-group-item"
       data-toggle="collapse">
        <span class="glyphicon glyphicon-folder-close"></span> Item 3
    </a>

    <div class="collapse" id="demo3">

        <a href="javascript:" class="list-group-item">
            <span class="glyphicon glyphicon-transfer"></span>Subitem 1
        </a>

        <a href="javascript:" class="list-group-item">
            <span class="glyphicon glyphicon-transfer"></span>Subitem 2
        </a>

        <a href="javascript:" class="list-group-item">
            <span class="glyphicon glyphicon-transfer"></span>Subitem 3
        </a>

        <a href="javascript:" class="list-group-item">
            <span class="glyphicon glyphicon-transfer"></span>Subitem 4
        </a>

    </div>

    <a href="#demo4"
       class="list-group-item"
       data-toggle="collapse">
        <span class="glyphicon glyphicon-folder-close"></span> Item 4
    </a>

    <div class="collapse" id="demo4">
        <a href="javascript:" class="list-group-item">
            <span class="glyphicon glyphicon-transfer"></span>Subitem 1
        </a>

        <a href="javascript:" class="list-group-item">
            <span class="glyphicon glyphicon-transfer"></span>Subitem 2
        </a>

        <a href="javascript:" class="list-group-item">
            <span class="glyphicon glyphicon-transfer"></span>Subitem 3
        </a>

        <a href="javascript:" class="list-group-item">
            <span class="glyphicon glyphicon-transfer"></span>Subitem 4
        </a>
    </div>
</aside>